$color-bg-primary: #1c1c1e;
$color-bg-secondary: #343435;
$color-bg-tertiary: #484849;
$color-bg-accent: #5e5ce6;
$color-text-primary: #fbfbfb;
$color-text-secondary: #8e8e93;
$color-text-accent: #5e5ce6;
